@model SelectList
@{
    ViewBag.Title = "Index";
}

<div id="action-url" data-url=@Url.Action("ServiceTable", "Service", null, Request.Url.Scheme)></div>

<h2>Services</h2>

@if (User.IsInRole("Administrator"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
@if (User.IsInRole("ServiceProvider"))
{
    <p>
        @Html.ActionLink("Add a New Service for Approval", "Create")
    </p>
}

<div class="row">
    <div class="col-lg-4">
        <div class="input-group">
            <div class="input-group-btn">
                <input id="Search" type="text" class="form-control" placeholder="Find by Name">
                <span class="input-group-btn">
                    <button id="search-button" class="btn btn-primary" type="submit" value="Search">
                        Search
                    </button>
                </span>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="input-group">
            <span class="input-group-addon">Select Category:</span>
            @Html.DropDownList("Category", Model, "All", new { @class = "form-control" })
        </div>
    </div>
    <div class="col-lg-4">
        <div class="input-group">
            <span class="input-group-addon">Order by Names:</span>
            <select class="form-control" id="SortAscending" name="SortAscending">
                <option value="true">Ascending</option>
                <option value="false">Descending</option>
            </select>
        </div>
    </div>
</div>

<hr />
<div id="table-container"></div>

<div class="row">
    <div class="col-sm-3">
        <div class="input-group">
            <span class="input-group-addon">Items per Page:</span>
            <select class="form-control" id="ItemsPerPage" name="ItemsPerPage">
                <option value="3">3</option>
                <option value="5">5</option>
                <option value="10">10</option>
            </select>
        </div>
    </div>
</div>

@section Scripts {
    <script src="/Scripts/servicetable.js" type="text/javascript"></script>
}