
@{
    ViewBag.Title = "NotFound";
}

<link href="~/Content/errors.css" rel="stylesheet">

<div class="row">

    <div class="col-sm-offset-2 col-sm-4">
        <img src="~/Content/DataImages/ErrorImage.png" class="img-responsive center-block" />
    </div>

    <div class="col-sm-4 text-center">
        <h1>404</h1>
        <h2>The Page can't be found <b>:(</b></h2>
        <h2>
            <a href='@Url.Action("Index", "Service")' class="btn btn-primary">
                Go to Homepage
            </a>
        </h2>
    </div>

</div>