@media (min-width: 768px ) {
    div .fix-height-150 {
        height: 150px;
    }

    img .img-height-150 {
        max-height: 150px;
    }

    div .fix-height-300 {
        height: 300px;
    }

    img .img-height-300 {
        height: 300px;
    }
}